---
title: Progress LTC
layout: "layouts/base.njk"
eleventyNavigation:
  key: Home
  order: 1
---

<section class="hero">
  <div class="container">
    <div class="flow-content">
      <h1>Learn & Master English With Us</h1>
      <p>Lorem ipsum dolor sit amet. Id dicta officia a repudiandae velit 33 provident culpa a magni nostrum eum asperiores fugiat est tempore eius. Ad sunt repudiandae cum impedit expedita ut deserunt tenetur et ratione accusantium est nisi dolores.</p>
      <a href="#" class="button">Learn more</a>
    </div>
    <div>
      <img src="/assets/img/image-1.jpg" alt="Laptop">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="section-title">Learn with us</h2>

    <ul role="list">
      <li>
        <div>
          <img src="/assets/img/image-1.jpg" alt="" width="60" height="60">
          <h3>IELTS</h3>
          <p>Lorem ipsum dolor sit amet. Id dicta officia a repudiandae velit  culpa a magni nostrum eum asperiores fugiat est tempore eius.</p>
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/img/image-3.jpg" alt="" width="60" height="60">
          <h3>CEFR</h3>
          <p>Lorem ipsum dolor sit amet. Id dicta officia a repudiandae velit  culpa a magni nostrum eum asperiores fugiat est tempore eius.</p>
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/img/image-2.jpg" alt="" width="60" height="60">
          <h3>Grammar</h3>
          <p>Lorem ipsum dolor sit amet. Id dicta officia a repudiandae velit  culpa a magni nostrum eum asperiores fugiat est tempore eius.</p>
        </div>
      </li>
      <li>
        <div>
          <img src="/assets/img/image-3.jpg" alt="" width="60" height="60">
          <h3>General English</h3>
          <p>Lorem ipsum dolor sit amet. Id dicta officia a repudiandae velit  culpa a magni nostrum eum asperiores fugiat est tempore eius.</p>
        </div>
      </li>
    </ul>
  </div>
</section>


<section>
  <div class="container">
    <div class="flow-content">
      <h2 class="section-title">About Us</h2>
      <p>A eius voluptas sed eaque nostrum vel exercitationem veritatis non corporis aliquid et dolorem soluta vel dolores deleniti. Sit quibusdam velit non nostrum rerum ex architecto natus eum deserunt veniam. Ut ipsa voluptas vel asperiores expedita quo officia enim.</p>
      <p>Aut voluptates officia est autem consequatur et nihil omnis. Est repudiandae incidunt ut iure optio et nihil inventore aut doloribus odio sed optio dolor. Qui consequatur dolorum quo.</p>
      <a href="" class="button">Learn more</a>
    </div>
    <div>
      <img src="/assets/img/image-2.jpg" alt="Another Laptop">
    </div>
  </div>
</section>


<section>
  <div class="container">
    <h2 class="section-title sr-only">Numbers</h2>
    <ul role="list">
      <li>
        <div class="flow-content">
          <img src="/assets/img/image-1.jpg" alt="" width="50" height="50">
          <p>
            <span>10K</span>
            <span>Students</span>
          </p>
        </div>
      </li>
      <li>
        <div class="flow-content">
          <img src="/assets/img/image-2.jpg" alt="" width="50" height="50">
          <p>
            <span>1,000+</span>
            <span>Followers</span>
          </p>
        </div>
      </li>
      <li>
        <div class="flow-content">
          <img src="/assets/img/image-1.jpg" alt="" width="50" height="50">
          <p>
            <span>15+</span>
            <span>Organizations</span>
          </p>
        </div>
      </li>
      <li>
        <div class="flow-content">
          <img src="/assets/img/image-3.jpg" alt="" width="50" height="50">
          <p>
            <span>10+</span>
            <span>Teachers</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>


<section>
  <div class="container">
    <h2 class="section-title">Courses</h2>
    <ul role="list">
      <li>
        <div class="flow-content">
          <div>
            <img src="/assets/img/image-1.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>IELTS Advanced</h3>
            <p>Aut voluptates officia est autem consequatur et nihil omnis. Est repudiandae incidunt ut iur...</p>
            <a href="#">Read more</a>
          </div>
        </div>
      </li>
      <li>
        <div class="flow-content">
          <div>
            <img src="/assets/img/image-3.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>Grammar</h3>
            <p>Aut voluptates officia est autem consequatur et nihil omnis. Est repudiandae incidunt ut iur...</p>
            <a href="#">Read more</a>
          </div>
        </div>
      </li>
      <li>
        <div class="flow-content">
          <div>
            <img src="/assets/img/image-2.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>IELTS Beginner</h3>
            <p>Aut voluptates officia est autem consequatur et nihil omnis. Est repudiandae incidunt ut iur...</p>
            <a href="#">Read more</a>
          </div>
        </div>
      </li>
      <li>
        <div class="flow-content">
          <div>
            <img src="/assets/img/image-3.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>Beginner English</h3>
            <p>Aut voluptates officia est autem consequatur et nihil omnis. Est repudiandae incidunt ut iur...</p>
            <a href="#">Read more</a>
          </div>
        </div>
      </li>
    </ul>
    <a href="#" class="button">Browse more</a>
  </div>
</section>


<section>
  <div class="container">
    <h2 class="section-title">Latest Articles</h2>
    <ul role="list">
      <li>
        <a class="flow-content">
          <div>
            <img src="/assets/img/image-3.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>How to improve your writing skills?</h3>
            <p>A eius voluptas sed eaque nostrum vel exercitationem veritatis non corporis aliquid et dolorem soluta vel dolores deleniti. Sit quibusdam velit non nostrum rerum ex architecto natus eum deserunt veniam.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="flow-content">
          <div>
            <img src="/assets/img/image-2.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>Top 10 tips for listening</h3>
            <p>A eius voluptas sed eaque nostrum vel exercitationem veritatis non corporis aliquid et dolorem soluta vel dolores deleniti. Sit quibusdam velit non nostrum rerum ex architecto natus eum deserunt veniam.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="flow-content">
          <div>
            <img src="/assets/img/image-1.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>Why Writing is the hardest?</h3>
            <p>A eius voluptas sed eaque nostrum vel exercitationem veritatis non corporis aliquid et dolorem soluta vel dolores deleniti. Sit quibusdam velit non nostrum rerum ex architecto natus eum deserunt veniam.</p>
          </div>
        </a>
      </li>
      <li>
        <a class="flow-content">
          <div>
            <img src="/assets/img/image-2.jpg" alt="">
          </div>
          <div class="flow-content">
            <h3>Speaking Part 2 samples</h3>
            <p>A eius voluptas sed eaque nostrum vel exercitationem veritatis non corporis aliquid et dolorem soluta vel dolores deleniti. Sit quibusdam velit non nostrum rerum ex architecto natus eum deserunt veniam.</p>
          </div>
        </a>
      </li>
    </ul>
    <a href="#" class="button">Read more</a>
  </div>
</section>

{#
{% set maxPosts = collections.posts.length %}
<h1>
  Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}
</h1>

{% set posts = collections.posts | limit(-3) %} 
{% include "layouts/posts.njk" %}

<p>More posts can be found in <a href="{{ '/blog/' | url }}">the blog</a>.</p>
#}

<section>
  <div class="container">
    <div class="flow-content">
      <h2 class="section-title">Join our Telegram community</h2>
      <p>Ut ipsa voluptas vel asperiores expedita quo officia enim. Ea quae consequuntur rem molestias magni ad corrupti veritatis.</p>
    </div>
    <a href="#" class="button">Join Now</a>
  </div>
</section>