<footer>
  <div class="container">
    <div>
      <div class="flow-content">
        <a href="#" class="brand-logo">Progress LTC</a>
        <p>ABC 123, Street Name, City Name</p>
        <p>info@progress.com</p>
        <p>+12345678910 </p>
      </div>
      <nav>
        <ul>
          <h3>Company</h3>
          <li><a href="#">About</a></li>
          <li><a href="#">Course</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <ul>
          <h3>Links</h3>
          <li><a href="#">Organizations</a></li>
          <li><a href="#">Notice</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
        <ul>
          <h3>Courses</h3>
          <li><a href="#">IELTS</a></li>
          <li><a href="#">CEFR</a></li>
          <li><a href="#">Grammar</a></li>
          <li><a href="#">General English</a></li>
        </ul>
      </nav>
    </div>

    <div>
      <p>Copyright 2023 - Progress LTC</p>
      <ul role="list">
        <li>
          <a href="#">
            <span class="sr-only">Facebook</span>
            <img src="/assets/img/image-1.jpg" alt="" width="24" height="24">
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sr-only">Instagram</span>
            <img src="/assets/img/image-2.jpg" alt="" width="24" height="24">
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sr-only">Telegram</span>
            <img src="/assets/img/image-3.jpg" alt="" width="24" height="24">
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sr-only">Twitter</span>
            <img src="/assets/img/image-1.jpg" alt="" width="24" height="24">
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sr-only">YouTube</span>
            <img src="/assets/img/image-2.jpg" alt="" width="24" height="24">
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
