<header>
  <div class="container">
    <a class="brand-logo" href="{{ '/' | url }}">{{ title }}</a>
    <nav>
      <ul role="list">
        {%- for entry in collections.all | eleventyNavigation %}
          <li>
            <a 
              class="nav-link"
              href="{{ entry.url | url }}"
              {% if entry.url == page.url %} 
                aria-current="page"
              {% endif %}
            >
              {{ entry.title }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>


